/*
/*/
!/public_html/
!/frontend/
!/backend/

public_html/assets/*
public_html/admin/assets/*
!public_html/assets/.gitignore
!public_html/admin/assets/.gitignore
public_html/lib/*
public_html/cache/*
public_html/uploads/*
!public_html/uploads/.htaccess
public_html/themes/*
!public_html/themes/admin/*
!public_html/themes/snapcms/*

frontend/runtime/*
!frontend/runtime/.gitignore
frontend/data/*

backend/runtime/*
backend/data/*
backend/modules/*
!backend/modules/snapcms/SnapCMSModule.php
!backend/modules/comments/*
!backend/runtime/.gitignore

error_log
/nbproject/*
vendor/*
