public_html/assets/*
public_html/admin/assets/*
!public_html/assets/.gitignore
!public_html/admin/assets/.gitignore
backend/runtime/*
frontend/runtime/*
!backend/runtime/.gitignore
!frontend/runtime/.gitignore
backend/data/*
error_log
public_html/lib/*
public_html/cache/*
public_html/uploads/*
!public_html/uploads/.htaccess
/nbproject/*
vendor/*