body {
	padding-top:30px !important;
}

#admin-nav {
	background:#F8F8F8;
	color:#777777;
	border-bottom:1px solid #E7E7E7;
	box-shadow:0 -2px 5px #000;
	position:fixed;
	top:0;
	left:0;
	height:30px;
	line-height:30px;
	width:100%;
}
	#admin-nav .inner {
		padding:0 10px;
	}
	
	#admin-nav a {
		height:30px;
		display:block;
		color:#777777;
		padding:0 10px;
		display:inline-block;
		text-decoration:none;
		border:none;
		cursor:pointer;
		background:transparent;
	}
	#admin-nav a:hover {
		background:#E7E7E7;
	}
#admin-nav .snap-pull-right {
	float:right;
}
#admin-nav .snap-processing {
	color:#C09853;
}
#admin-nav .snap-success {
	color:#468847;
}
#admin-nav .snap-disabled {
	color:#BBBBBB;
}
#admin-nav .snap-disabled:hover {
	background:transparent;
}

.cke_editable_inline:hover {
	outline:1px dashed #ccc;
}
.cke_focus {
	outline:1px dashed #428BCA !important;
}